{%- comment -%}
  Preorder Logic Snippet
  Shows preorder dates for sold out products with future drop dates
{%- endcomment -%}

{%- liquid
  assign is_preorder = false
  assign preorder_text = ''
  assign today = 'now' | date: '%s'
  
  # Check for sold out products with future drop dates
  if product.available == false
    # Try different possible metafield names for drop date
    assign drop_date_field = product.metafields.custom.preorder_drop_date | default: product.metafields.custom.drop_date
    
    if drop_date_field != blank
      assign drop_date = drop_date_field | date: '%s'
      assign days_until_drop = drop_date | minus: today | divided_by: 86400
      
      # Show if the drop date is in the future
      if days_until_drop > 0
        assign is_preorder = true
        assign preorder_text = 'Available ' | append: drop_date_field | date: '%m/%d'
      endif
    endif
    
    # Override with custom text if provided
    if product.metafields.custom.preorder_text != blank
      assign is_preorder = true
      assign preorder_text = product.metafields.custom.preorder_text
    endif
  endif
-%}

{%- if is_preorder -%}
  <span class="preorder-badge">{{ preorder_text }}</span>
{%- endif -%}
