{%- comment -%}
  Preorder Logic Snippet
  Shows preorder dates only for products with future drop dates
{%- endcomment -%}

{%- liquid
  assign is_preorder = false
  assign preorder_text = ''
  assign today = 'now' | date: '%s'
  
  # Only show preorder logic if there's a future drop_date metafield
  if product.metafields.custom.drop_date != blank
    assign drop_date = product.metafields.custom.drop_date | date: '%s'
    assign days_until_drop = drop_date | minus: today | divided_by: 86400
    
    # Only show if the date is in the future
    if days_until_drop > 0
      assign is_preorder = true
      
      # Show actual date in MM/DD format
      assign preorder_text = 'Available ' | append: product.metafields.custom.drop_date | date: '%m/%d'
    endif
  endif
  
  # Override with custom text if provided (for future dates only)
  if is_preorder and product.metafields.custom.preorder_text != blank
    assign preorder_text = product.metafields.custom.preorder_text
  endif
-%}

{%- if is_preorder -%}
  <span class="preorder-badge">{{ preorder_text }}</span>
{%- endif -%}
