{%- comment -%}
  Preorder Logic Snippet
  Shows preorder dates as plain text only
{%- endcomment -%}

{%- liquid
  assign is_preorder = false
  assign preorder_text = ''
  assign today = 'now' | date: '%s'
  assign today_weekday = 'now' | date: '%w'
  
  # Check for sold out products with future drop dates
  if product.available == false
    # Try different possible metafield names for drop date
    assign drop_date_field = product.metafields.custom.preorder_drop_date | default: product.metafields.custom.drop_date
    
    if drop_date_field != blank
      assign drop_date = drop_date_field | date: '%s'
      assign days_until_drop = drop_date | minus: today | divided_by: 86400
      assign drop_weekday = drop_date_field | date: '%w'
      
      # Show if the drop date is in the future
      if days_until_drop > 0
        assign is_preorder = true
        
        # If within the next 7 days, show day name with time
        if days_until_drop <= 7
          assign day_name = ''
          case drop_weekday
            when '0'
              assign day_name = 'Sunday'
            when '1'
              assign day_name = 'Monday'
            when '2'
              assign day_name = 'Tuesday'
            when '3'
              assign day_name = 'Wednesday'
            when '4'
              assign day_name = 'Thursday'
            when '5'
              assign day_name = 'Friday'
            when '6'
              assign day_name = 'Saturday'
          endcase
          
          assign time_with_tz = drop_date_field | date: '%l:%M%p EST'
          assign preorder_text = 'Available this ' | append: day_name | append: ' @ ' | append: time_with_tz
        else
          # Show MM/DD format for dates more than a week away
          assign preorder_text = 'Available ' | append: drop_date_field | date: '%m/%d'
        endif
      endif
    endif
    
    # Override with custom text if provided
    if product.metafields.custom.preorder_text != blank
      assign is_preorder = true
      assign preorder_text = product.metafields.custom.preorder_text
    endif
  endif
-%}

{%- if is_preorder -%}
<div class="preorder-text">{{ preorder_text }}</div>
{%- endif -%}
