{% comment %}
  Pickup Date Display Block
  Shows the pickup start date for preorder products
{% endcomment %}

{%- liquid
  assign pickup_text = ''
  assign today = 'now' | date: '%s'
  
  assign pickup_start_field = product.metafields.custom.preorder_pickup_start
  if pickup_start_field != blank
    assign pickup_start_date = pickup_start_field | date: '%s'
    assign days_until_pickup = pickup_start_date | minus: today | divided_by: 86400
    assign pickup_weekday = pickup_start_field | date: '%w'
    
    if days_until_pickup < 7
      case pickup_weekday
        when '0'
          assign pickup_day_name = 'Sunday'
        when '1'
          assign pickup_day_name = 'Monday'  
        when '2'
          assign pickup_day_name = 'Tuesday'
        when '3'
          assign pickup_day_name = 'Wednesday'
        when '4'
          assign pickup_day_name = 'Thursday'
        when '5'
          assign pickup_day_name = 'Friday'
        when '6'
          assign pickup_day_name = 'Saturday'
      endcase
      assign pickup_text = 'this ' | append: pickup_day_name
    else
      assign pickup_text = pickup_start_field | date: '%m/%d/%Y'
    endif
  endif
-%}

{%- if pickup_text != blank -%}
  <div class="pickup-date-block" style="margin-top: -0.5rem; margin-bottom: 1rem;">
    <p style="font-size: 0.95rem; color: rgb(var(--color-foreground-heading)); margin: 0;">
      <strong>Pickup Begins In-Store:</strong> {{ pickup_text }}
    </p>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Pickup Date",
  "tag": "div",
  "settings": [
    {
      "type": "paragraph",
      "content": "This block displays the pickup start date for preorder products"
    }
  ],
  "presets": [
    {
      "name": "Pickup Date"
    }
  ]
}
{% endschema %}